h1{
    font-family: "Tahoma", "Verdana", sans-serif;
    text-shadow: 3px 3px #999999;
    /*color:#999999;*/
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
}

body{
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/background.png);
    font-size: 8pt;
    font-family: "Tahoma", "Verdana", sans-serif;
    margin: auto;
    padding: auto;
}
#TAB{
    border-radius: 25px;
    border: 4px solid grey;
    width: 800px;
    margin: auto;
    overflow: hidden;
}

#sing{
    height:83px;
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/rbg.png);
    border-top-left-radius: 20px;
}

#titolo{
    font-size: 48pt;
    font-weight: bold;
    color: red;
    vertical-align: text-bottom;
}

.feed{
    border: 2px solid grey;
    border-radius: 10px;
    background-color: #E8DC9B;
    padding: 8px 8px 8px 8px;
    font-weight: bold;
}
#generali{
    padding: 0 10pt 10pt 10pt;
    font-size: 8pt;
    font-family: Arial, sans-serif;
}
dt{
    font-weight: bold;
}
dl{
    margin-left: 10pt;
    font-family: "Arial", sans-serif;
}

dt{
    font-weight: bold;
}

ul{
    list-style-type: none;
    padding: auto;
    margin: auto;
}
#sotto{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    clear: right;
    text-align: center;
    background-color: #A2B964;
    padding: 5px;
    margin:auto;
}
#validatore {
    bottom: 0;
    right: 0;
    position: fixed;
    opacity: 0.5;
}
#destra{
    background-color: #A2B964;
    float: right;
    width: 250px;
}
.gif{
    overflow: hidden;
    padding-right: 5px;
}
#colonnadestra{float: right;}
#colonnadestra{margin: 0 2% 2% 1%;}
#colonnasinistra,#colonnadestra{width: 47%;}
#colonnasinistra{
    float: left;
    margin: 0 1% 2% 2%;

}
#testa img{
    height: 50px;
    margin: auto;
    display: block;
}
#testa{
    background-image: url(http://courses.cs.washington.edu/courses/cse190m/11sp/homework/2/bannerbg.png);
}
#sinistra{
    width: 550px;
}